.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 300px;
  width: 200px;
  background: linear-gradient(180deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%);
  margin: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgb(49, 49, 49);
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

.btn {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.btn:hover {
  transform: rotate(180deg);
  transition: 0.5s;
}